body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;

  z-index: 1; 
}
.logo {
  height: 50px;
  width: 150px;
  margin-left: 10px;

  background-image: url("images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

nav a {
  margin: 0 15px;
  color: seashell;
  text-decoration: underline;
}


main {
  padding-top: 69px;
}

.main-sec {
  width: 1200px;
  height: 700px;
  margin: auto;
  position: relative;
}

.main-img {
  width: 100%;
  height: 100%;

  background-image: url("images/image (4).png");
  background-size: cover;
  background-position: center;
}

.main-text {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: rgb(20, 19, 19);
  /* background-color: red; */    /* look More cooler */
  transform: translateY(-50%);
}

.tea-section {
  width: 1000px;
  margin: 50px auto;
}

.tea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tea-item {
  width: 300px;
}

.tea-img {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.tea-item:nth-child(1) .tea-img {
  background-image: url("images/image (1).png");
}

.tea-item:nth-child(2) .tea-img {
  background-image: url("images/image (6).png");
}

.tea-item:nth-child(3) .tea-img {
  background-image: url("images/image (2).png");
}

.tea-item:nth-child(4) .tea-img {
  background-image: url("images/image (2).png");
}

.tea-item:nth-child(5) .tea-img {
  background-image: url("images/image.png");
}


.locations {
  width: 1200px;
  height: 500px;
  margin: auto;
  position: relative;
}

.locations-bg {
  width: 100%;
  height: 100%;


  background-image: url("images/image (3).png");
  background-size: cover;
  background-position: center;
}

.locations-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.location-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 15px;
}

.location-box {
  width: 300px;
  background-color: rgb(20, 19, 19);
  padding: 20px;
}

footer {
  height: 200px;
}

.contact {
  margin-top: 20px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}